/*字体属性样式文件*/

/*
1、width属性可以为元素设置宽度。
2、height属性可以为元素设置高度。
3、块级标签才能设置宽度，内联标签的宽度由内容来决定。

4、font-family可以把多个字体名称作为一个“回退”系统来保存。如果浏览器不支持第一个字体，则会尝试下一个。浏览器会使用它可识别的第一个值。
5、font-size:20px
6、font-weight用来设置字体的字重（粗细）。inherit表示继承父元素的字体大小值，100~900设置具体粗细，400等同于normal，而700等同于bold
7、颜色属性被用来设置文字的颜色。
颜色是通过CSS最经常的指定：
十六进制值 - 如: ＃FF0000
一个RGB值 - 如: RGB(255,0,0)
颜色的名称 - 如:  red
还有rgba(255,0,0,0.3)，第四个值为alpha, 指定了色彩的透明度/不透明度，它的范围为0.0到1.0之间。

*/

/*通用选择器设置通用属性*/
*{
    font-family: "Microsoft Tai Le", 微软雅黑, ".Pinfang SC";
    font-size: 30px;
    background: antiquewhite;
    font-weight: inherit;
}

