/*
1、背景颜色
background-color: red;

2、背景图片
background-image: url('1.jpg');

3、背景重复
 repeat(默认):背景图片平铺排满整个网页
 repeat-x：背景图片只在水平方向上平铺
 repeat-y：背景图片只在垂直方向上平铺
 no-repeat：背景图片不平铺

background-repeat: no-repeat;

4、背景位置
background-position: right top;
background-position: 200px 200px;
*/

div.c1{
    width: 800px;
    height: 800px;
    background-image: url("./scxd.jpeg");
    background-repeat: no-repeat;
    background-position:center;

}



p.c2{
    background-color: pink;
}